@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color:#F2F2F2;
  color: #333333;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow:hidden;
 }

.body-wrapper {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.main-container {
  flex-grow: 1;
}


.page-header {
  background-color: #FFFFFF;
  color: #000000;
  height: 64px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-logo{
  margin-right: 44px;
  z-index: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.navigation-item {
  padding: 20px 32px 20px 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;

}

.navigation-link {
  display: block;
  font-weight: 700;
  color:#000000;
  font-size: 20px;
  line-height: 24px;
  background-color: #FFFFFF;
  text-decoration: none;

}

.navigation-user-item {
  min-width: 44px;
  min-height: 64px;
  margin-top: 14px;
}


.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  background-color: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  text-decoration: none;

}

.header-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 34px;
  padding-left: 34px;
}

.main-index {
  background-color: #FFFFFF;
  color: #333333;
}

.hero {
  background-image: url("../images/mask_logo.svg"), url("../images/index_background.jpg");
  background-position: center bottom, center;
  background-size: 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-color: #756157;
  color: #FFFFFF;
  min-height: 485px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.advantages,
.search,
.subscribe {
  text-align: center;
}


.advantages-title-big {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 69px;
  margin: 0;
}

.advantages-description {
  padding-top: 25px;
  margin-bottom: 90px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.advantages-item {
  background-color: #83B3D31F;
  min-height: 384px;
  text-align: center;

}

.advantages-item-description {
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-image {
  display: block;
  margin: 0;
}

.advantages-item-dark {
  background-color:  #82B3D3;
  color: #FFFFFF;
  width: 1200px;
  grid-column: 1/-1;
  justify-self: flex-start;
  display: flex;
  justify-content: space-between;

}


.advantages-item-medium {
  background-color: #83b3d333;
}

.advantages-item-title,
.advantages-special-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;

}

.advantages-item-title {
  padding-top: 103px;
}

.advantages-item-title-dark {
  color: #FFFFFF;
  padding-top: 92px;
  padding-bottom: 30px;
  margin: 0;
}

.advantages-special-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.advantages-special-item {
  background-color: #83b3d31f;
  background-image: url('../images/house_icon.svg');
  background-repeat: no-repeat;
  width: 400px;
  min-height: 384px;
}

.advantages-special-burger {
  background-color: #FFFFFF;
  background-image: url('../images/hamburger_icon.svg');
  background-repeat: no-repeat;
}

.advantages-special-souvenir {
  background-image: url('../images/present_icon.svg');
  background-repeat: no-repeat;
}

.advantages-special-title {
  padding-top: 182px;
  padding-left: 85px;
  padding-right: 85px;
  margin: 0;

}

.advantages-special-description {
  font-size: 18px;
  line-height: 21px;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
  margin: 0;
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 96px;
  padding-bottom: 20px;
  margin: 0;

}

.search-text {
  margin: 0;
  padding-bottom: 54px;
}

.search-button {
  width: 376px;
  padding: 8px 50px;
  margin-bottom: 96px;
}

.subscribe {
  background-image: url('../images/background_subscribe.jpg');
  background-size: 100%;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.subscribe-button {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  border-radius: 0 4px 4px 0;


}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 96px;
  text-transform: uppercase;


}

.subscribe-text {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  padding-bottom: 104px;
}

.subscribe-field {
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: transparent;
  width: 452px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding: 45px 70px 35px 82px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

}

.footer-social-item {
  width: 24px;
  height: 17px;
  margin-right: 26px;
  margin-bottom: 10px;

}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
  text-decoration: none;

}

.hotels-sedona {
  background-image: url("../images/catalog/catalog-background\ 1.jpg");
  background-size: 100%;
  background-color: #756157;
  color: #FFFFFF;
  min-height: 412px;



}

.hotels-sedona-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  padding-left: 70px;
  margin: 0;


}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 8px;
  padding-left: 70px;
  margin: 0 0 40px 0;

}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  margin-right: 11px;
}

.search-filter {
  display: flex;
  height: 157px;
  padding-bottom: 70px;
}

.search-filter-group {
  border: none;
  padding-left: 70px;
  padding-right: 0;
  padding-top:0;
  padding-bottom: 0;
  margin: 0;
}

.search-filter-group-price {
  display: flex;
  padding-left: 140px;

}

.search-filter-list {
  list-style-type: none;
  padding: 32px 0;
  margin-top: 0;
}


.search-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.search-filter-input {
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;
  color: #000000;
  width: 143px;
  height: 48px;
}

.search-filter-buttons {
  display: flex;
  flex-direction: column;
}

.button-submit {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
}


.button-submit {
  padding: 8px 50px;
  margin-bottom: 40px;
  width: 191px;
}

.button-reset {
  background-color: transparent;
}

.search-results-container {
  display: flex;
  padding: 50px 70px 40px 70px;
  justify-content: space-between;
}

.search-results-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  height: 49px;
}

.sorting-buttons-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.sorting-buttons-item {
  width: 48px;
  height: 48px;

}

.button-light {
  background-color: #FFFFFF;
  color:#000000;
}

.hotels {
  margin-left: 70px;
  margin-right: 70px;
}

.hotels-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  margin: 0;
  gap: 20px;
}


.hotel-card {
  padding: 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  }

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-inner {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;

}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.hotel-card-button {
  padding: 8px 26px;

}

.hotel-card-button-favourite {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  min-width: 140px;

}


.favourite {
  background-color: #7DB54F;
  padding: 8px 18px;

}

.stars {
  margin: 0;
}

.hotel-card-rating {
  display: block;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
   width: 140px;
  border-radius: 4px;

}

.pagination {
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 70px 60px 70px;
  border-top:1px solid #E6E6E6;
  list-style-type: none;
}


.pagination-item {
  background: #82B3D3;
  border-radius: 4px;
  text-align: center;
  margin-right: 8px;
  width: 60px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}




.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color:#FFFFFF;
  text-decoration: none;
  text-align: center;


}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}


.pagination-disabled {
  color: #000000;
  background-color: #FFFFFF;
}

.subscribe-inner {
  text-align: center;


}
.subscribe-form-inner {
  display: flex;
  justify-content: center;
  margin-bottom: 104px;
}

.subscribe-title-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 96px;
  padding-bottom: 20px;
  margin: 0;

}

.subscribe-text-inner {
  margin: 0;
  padding-bottom: 54px;
}
